.thr0w_svg_palette {
  display: table;
  border-collapse: collapse;
  z-index: 998;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 32px;
  background-color: rgb(221,221,211);
}
.thr0w_svg_palette__row {
  display: table-row;
}
.thr0w_svg_palette__row__cell {
  display: table-cell;
  box-sizing: border-box;
  border: 1px solid rgb(0,0,0);
  height: 32px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px; 
  font-weight: bold;
}
