.thr0w_windows_window {
  position: absolute;
}
.thr0w_windows_window__bar {
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 50px; 
  padding: 10px;
  background-color: rgb(204,204,204);
  text-align: right;
}
.thr0w_windows_window__bar__controls {
  width: 100%;
  height: 100%;
}
.thr0w_windows_window__bar__controls__control {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.thr0w_windows_window__content {
  position: absolute;
  left: 0px;
  top: 50px;
}
.thr0w_windows_window__cover {
  position: absolute;
  left: 0px;
  top: 50px;
}
